body {
  background: #000;
}

h1{
  color: #FFF;
}

#board{
  border-collapse:separate;
  width: 80vw;
  height: 75vh;
}
#board td{
    width: 33%;
    height: 33%;
}

.centered{
     float: none;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

.spot{
  background: #FFF;
  height:100%;
  width:100%;
}
