body {
    background: #000;
    color: #FFF;
}

h1 a{
    text-decoration: none;
    color: #FFF;
}

#gameOver{
    display: none
}

#gameOverMessage{
    color:green;
    margin:5px 0;
}

#board{
  border-collapse:separate;
  width: 80vw;
  height: 75vh;
}

#board td{
    width: 33%;
    height: 33%;
}

.centered{
     float: none;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}

.spot{
  background: #FFF;
  height:100%;
  width:100%;
}

.buttonHolder{
    margin-top:5px;
}

.button{
    color: white;
    border-radius: 4px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    padding: 4px;
    background: rgb(66, 184, 221);
}
