<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tic Tac Django</title>
  <link rel="stylesheet" type="text/css" href= "/stylesheets/main.css">
</head>
<body>
    <header class="centered"><h1>Tic Tac Django!</h1></header>

    <table id="board" class="centered">
      <tr>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
      </tr>

      <tr>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
      </tr>

      <tr>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
      </tr>
    </table>
    <div id="gameOver" class="centered">
        <h2 id="gameOverMessage"></h2><button onclick="resetGame();">Reset Game</button>
    </div>
    <div class="centered">
        <button id="afterYou" onclick="afterYou();">After You</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" >

$(document).ready(function() {

    stage = ['','','','','','','','','',];
    playerChar = 'X';
    aiChar = 'O';
    playersTurn = true;

    //adds an onClick function onto each table cell's div
    $(".spot").each(function(i,o){
        $(o).attr("id",i)
        $(o).click(function(){
            if($(this).html() == '' && playersTurn){
                $(this).css('background','blue');
                playersTurn = false;
                stage[i] = playerChar;
                takePcTurn();
            }
        });
    });
});

function takePcTurn(){
    $("#afterYou").hide();
    $.ajax({
        type: 'GET',
        url: '/ai',
        data: { "stage":JSON.stringify(stage),
                "playerChar":playerChar,
                "aiChar":aiChar,
              },
        success: function(data){
            console.log(data);
            stage[data["aiMove"]] = aiChar;
            $('#'+data["aiMove"]).css('background','red');
            if(!data["over"]){
                playersTurn = true;
            }else{
                gameOver(data["winner"]);
            }
        },
        dataType: 'json'
    });
}

function gameOver(whoWon){
    if(whoWon == ''){
        $("#gameOverMessage").text("Congratulations, you didn't lose.  Still didn't win though");
    } else if(whoWon == aiChar){
        $("#gameOverMessage").text("Guess you can't succeed at not losing every time");
    } else{
        $("#gameOverMessage").text("What sorcery is this?!?!");
    }
    $("#gameOver").show()
}

function resetGame(){
    $("#gameOver").hide();
    stage = ['','','','','','','','','',];
    playersTurn = true;
    $(".spot").each(function(i,o){
        $(o).css('background','white');;
    });
    $("#afterYou").show();
}

function afterYou(){
    takePcTurn();
}

    </script>
</body>
</html>
