<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tic Tac Django</title>
  <link rel="stylesheet" type="text/css" href= "/stylesheets/main.css">
</head>
<body>
    <header class="centered"><h1>Tic Tac Django!</h1></header>

    <table id="board" class="centered">
      <tr>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
      </tr>

      <tr>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
      </tr>

      <tr>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
        <td><div class="spot"></div></td>
      </tr>
    </table>
</body>
</html>
